
.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.message-button{
    display: flex;
    justify-content: space-between;
}

.file{
    display: none;
} 
.upload{
    margin: 5px;
    font-size: 35px;
}
.button{
    margin: 5px;
}

.message-features{
    /* border:1px solid red; */
    display:flex;
    justify-content:center;
    align-items:center;
  }
.send{
    margin: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
}

.emoji{
    background-color: transparent;
    border: none;
}
.emoji i{
    font-size: 35px;
}

.badge{
    margin-left: 9rem;
}

.small{
    margin-top: 2px;
}